uni/windowsphone/WindowsAzure1/DataBoundApp1/Service References/ServiceReference1/Service11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49378/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49378/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49378/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IService1_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserNotes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserNotes" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserNotes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserNotesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_NewNote_InputMessage">
    <wsdl:part name="parameters" element="tns:NewNote" />
  </wsdl:message>
  <wsdl:message name="IService1_NewNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewNoteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateNote_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNote" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNoteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoveNote_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveNote" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoveNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveNoteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_NewGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:NewGroup" />
  </wsdl:message>
  <wsdl:message name="IService1_NewGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoveGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveGroup" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoveGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GroupAddNote_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupAddNote" />
  </wsdl:message>
  <wsdl:message name="IService1_GroupAddNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupAddNoteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GroupRemoveNote_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupRemoveNote" />
  </wsdl:message>
  <wsdl:message name="IService1_GroupRemoveNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupRemoveNoteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GroupAddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupAddUser" />
  </wsdl:message>
  <wsdl:message name="IService1_GroupAddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupAddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GroupRemoveUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupRemoveUser" />
  </wsdl:message>
  <wsdl:message name="IService1_GroupRemoveUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupRemoveUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserGroups" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGroupNotes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupNotes" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGroupNotes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupNotesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGroupUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupUsers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGroupUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Login" message="tns:IService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginResponse" message="tns:IService1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Register" message="tns:IService1_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisterResponse" message="tns:IService1_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserNotes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserNotes" message="tns:IService1_GetUserNotes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserNotesResponse" message="tns:IService1_GetUserNotes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewNote">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/NewNote" message="tns:IService1_NewNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/NewNoteResponse" message="tns:IService1_NewNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateNote">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateNote" message="tns:IService1_UpdateNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateNoteResponse" message="tns:IService1_UpdateNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveNote">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RemoveNote" message="tns:IService1_RemoveNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RemoveNoteResponse" message="tns:IService1_RemoveNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/NewGroup" message="tns:IService1_NewGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/NewGroupResponse" message="tns:IService1_NewGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RemoveGroup" message="tns:IService1_RemoveGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RemoveGroupResponse" message="tns:IService1_RemoveGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupAddNote">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GroupAddNote" message="tns:IService1_GroupAddNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GroupAddNoteResponse" message="tns:IService1_GroupAddNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupRemoveNote">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GroupRemoveNote" message="tns:IService1_GroupRemoveNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GroupRemoveNoteResponse" message="tns:IService1_GroupRemoveNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupAddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GroupAddUser" message="tns:IService1_GroupAddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GroupAddUserResponse" message="tns:IService1_GroupAddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupRemoveUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GroupRemoveUser" message="tns:IService1_GroupRemoveUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GroupRemoveUserResponse" message="tns:IService1_GroupRemoveUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserGroups" message="tns:IService1_GetUserGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserGroupsResponse" message="tns:IService1_GetUserGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupNotes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetGroupNotes" message="tns:IService1_GetGroupNotes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetGroupNotesResponse" message="tns:IService1_GetGroupNotes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetGroupUsers" message="tns:IService1_GetGroupUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetGroupUsersResponse" message="tns:IService1_GetGroupUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUsers" message="tns:IService1_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUsersResponse" message="tns:IService1_GetUsers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService1/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IService1/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserNotes">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserNotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewNote">
      <soap:operation soapAction="http://tempuri.org/IService1/NewNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNote">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveNote">
      <soap:operation soapAction="http://tempuri.org/IService1/RemoveNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewGroup">
      <soap:operation soapAction="http://tempuri.org/IService1/NewGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveGroup">
      <soap:operation soapAction="http://tempuri.org/IService1/RemoveGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupAddNote">
      <soap:operation soapAction="http://tempuri.org/IService1/GroupAddNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupRemoveNote">
      <soap:operation soapAction="http://tempuri.org/IService1/GroupRemoveNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupAddUser">
      <soap:operation soapAction="http://tempuri.org/IService1/GroupAddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupRemoveUser">
      <soap:operation soapAction="http://tempuri.org/IService1/GroupRemoveUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserGroups">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupNotes">
      <soap:operation soapAction="http://tempuri.org/IService1/GetGroupNotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupUsers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetGroupUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:49378/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>